/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* global */

/* common */

html{
    /* serve per scrollare più lentamente la pagina */
    scroll-behavior: smooth;
}

body{
    /* font preso da google */
    font-family: 'Rubik Mono One', sans-serif;
}


nav{
    /* per far rimanere i pallini fermi durante lo scrolling delle pagine */
    position: fixed;
    /* per far andare i pallini sopra la pagina */
    z-index: 1;
    /* per spostare i pallini a dedstra */
    margin-left: 80%;
} 

nav li{
    /* per mettere in riga i pallini */
    display: inline-block;
    /* per togliere alla lista creato i pallini di fianco */
    list-style: none;
}

nav li a{
    /* trasformo i numeri in blocco per assegnarli delle dimensioni */
    display: block;
    width: 50px;
    height: 50px;
    margin: 40px 20px;
    background-color: white;
    /* trasformo il blocco in cerchio tagliando gli angoli */
    border-radius: 50%;
    /* aggiungo ai pallini */
    box-shadow: 3px 6px rgba(0 0 0 / 16%);
    line-height: 50px;
    text-align: center;
    /* rimuovo le decorazioni (in questo caso il sottolineato) */
    text-decoration: none;
    color: black; 
}

nav li a:hover{
    /* ingrandisco l'ombra ai pallini quando ci passo sopra con il mouse */
    box-shadow: 15px 6px rgba(0 0 0 / 16%);
}

.page{
    position: relative;
    width: 100%;
    height: 100vh;
}

#first{
    background-color: red;
    color: yellow;
}

#second{
    background-color: green;
    color: yellow;
}

#third{
    background-color: yellow;
    color: green;
}

.block{
    position: absolute;
    /* assegno al blocco (contenento immagine e testo) la posizione centrale */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text{
    text-align: center;
    font-size: 50px;
}